body {
  background: blanchedalmond;  
}
.container {
  display:flex;  
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  border: 1px solid black;
  padding: 3px
}
.a {
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;  
  border: 1px solid black;
  margin: 3px
}
.b {
  min-width: 50px;
  min-height: 50px;
  flex-grow: 2;  
  border: 1px solid black;
  margin: 3px
}
.c {
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;  
  border: 1px solid black;
  margin: 3px
}
@media (min-width: 600px) {  
  .container {
    flex-flow: row wrap;      
  }
  .a {
    width:100vw;
    height: 20vh;
  }
  .b {
    width:60vw;
    height: 40vh;
  }
  .c {
    width:30vw;
    height: 40vh;
  }
}