* {
  /* border: 1px solid black; */
  padding: 1px; 
  margin: 1px;
}
body {
  background: papayawhip;
}
.container {
  display:flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content:left;
  min-height: 80vh;       
}
.sub-container {
  display:flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content:left;
  min-height: 40vh;
  max-width: 95vw;
}
.a {
  min-width: 95vw; 
  max-height: 20vh;  
  flex-grow: 1;
  background-color: #444444;
  color:#FFFFFF; 
}
.b {  
  min-width: 90vw;
  max-height: 30vh;   
  flex-grow: 1; 
  background-color: #555555;
  color:#EEEEEE; 
}
.c {  
  min-width: 20vw;
  flex-grow: 1; 
  background-color: #666666;
  color:#DDDDDD;  
  margin: 3px;
}
.d {
  min-width: 20vw;
  flex-grow: 1; 
  background-color: #777777;
  color:#CCCCCC;
  margin: 3px;
}
.e {
  min-width: 20vw;
  flex-grow: 1;  
  background-color: #888888;
  color:#111111;  
  margin: 3px;
}
.f {   
  width: 90vw;
  flex-grow: 1; 
  background-color: #999999;
  color:#000000;
}

@media (min-width: 600px) {  
  .container {
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:left;
    min-height: 80vh;       
  }
  .sub-container {
    display:flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:left;
    min-height: 40vh;
    max-width: 75vw;
  }
  .a {
    min-width: 80vw; 
    max-height: 20vh;  
    flex-grow: 1;
    background-color: #AAAAAA;
    color:#FFFFFF; 
  }
  .b {  
    min-width: 70vw;
    max-height: 30vh;   
    flex-grow: 1; 
    background-color: #BBBBBB;
    color:#EEEEEE; 
  }
  .c {  
    min-width: 20vw;
    flex-grow: 1; 
    background-color: #CCCCCC;
    color:#333333;  
    margin: 3px;
  }
  .d {
    min-width: 20vw;
    flex-grow: 1; 
    background-color: #DDDDDD;
    color:#222222;
    margin: 3px;
  }
  .e {
    min-width: 20vw;
    flex-grow: 1;  
    background-color: #EEEEEE;
    color:#111111; 
    margin: 3px;
  }
  .f {   
    width: 20%; 
    flex-grow: 1; 
    background-color: #FFFFFF;
    color:#000000;
  }    
}